.sidebar
  .container.sidebar-sticky
    .sidebar-about
      h1.brand
        a(href="/") diego fraselle

      p.lead
        | writer | traveler
    ul.sidebar-nav
      
      li
        a(href='/about') About me

      li
        a(href='/help') How to help

      li
        a(href="diegofraselle.com") en Español
        
      
      
    p.footnote
      br
      |     © 2016 Diego Fraselle. All rights reserved 
      