.sidebar
  .container.sidebar-sticky
    .sidebar-about
      h1.brand
        a(href="/") diego fraselle

      p.lead
        | writer
    ul.sidebar-nav
      li
        a(href="#") Take a chance

      li
        a(href='http://marcio.io/blog') About me
      
      li
        a(href='#') Contact
        
      
      
    p.footnote
      br
      |     © 2015 Diego Frasele. All rights reserved.
  
   