.sidebar
  .container.sidebar-sticky
    .sidebar-about
      h1.brand
        a(href="/") diego fraselle

      p.lead
        | writer | traveller
    ul.sidebar-nav
      
      li
        a(href='http://marcio.io/blog') About me

      li
        a(href='#') How to help

      li
        a(href="diegofraselle.com") En español
        
      
      
    p.footnote
      br
      |     © 2015 Diego Fraselle. All rights reserved.
  
   