.sidebar
  .container.sidebar-sticky
    .sidebar-about
      h1.brand
        a(href="/") diego fraselle

      p.lead
        | escritor | viajero
    ul.sidebar-nav
      
      li
        a(href='http://marcio.io/blog') Acerca de mi

      li
        a(href='#') Como ayudar

      li
        a(href="diegofraselle.com") In English
        
      
      
    p.footnote
      br
      |     © 2015 Diego Fraselle. Todos los derechos reservados