extends layout

block content
    include partials/sidebar

    .container.story-main
      .list-wrapper
        .list-container
            

            
            .list-stories-container
                
                .story-item
                    .list-title-div
                        h1.list-title Ideas

                    h2 Politics

                    a(href="#") El extranjero 
                    br
                    a(href="#") Comentarios ineficientes

                    h2 Religion

                    a(href="#") No
                    br
                    a(href="#") Definicion Despota