extends layout

block content
    .sidebar
      .container.sidebar-sticky
        .sidebar-about
          h1.brand
            a(href="/") diego fraselle

          p.lead
            | writer
        ul.sidebar-nav
          li
            a(href="#") Blog

          li
            a(href='http://marcio.io/blog') About me
          
          li
            a(href='#') Contact
            
          hr 

          li 
            a(href="#") VIP
          
        p.footnote
          br
          |     © 2015 Diego Frasele. All rights reserved.
    
    .container.story-main
      .center-flex
          .story-section
            .stories-container
              ul.stories-list
                li.story
                  a(href="/stories").story-link
                    h3.story-title Stories

                li.story
                  a(href="/story").story-link 
                    h3.story-title Articles

                li.story
                  a(href="/story").story-link 
                    h3.story-title Serials


          
                

     


