extends layout

block content

  include partials/sidebar
  .container.story-main
        .center-flex
            .story-section
              .stories-container
                ul.stories-list
                  li.story
                    a(href="/stories").story-link
                      h3.story-title Historias

                  li.story
                    a(href="/bits").story-link 
                      h3.story-title Opinion

                  li.story
                    a(href="/traveling").story-link
                      h3.story-title Viajando

          
                

     


