extends layout

block content

  include partials/sidebar
  .container.story-main
        .center-flex
            .story-section
              .stories-container
                ul.stories-list
                  li.story
                    a(href="/stories").story-link
                      h3.story-title Short Stories

                  li.story
                    a(href="/madman").story-link 
                      h3.story-title Notes of a Traveling Madman

                  li.story
                    a(href="/poetry").story-link
                      h3.story-title Poetry

          
                

     


