extends layout

block content
    .sidebar
      .container.sidebar-sticky
        .sidebar-about
          h1.brand diego fraselle
          p.lead
            | writer
        ul.sidebar-nav
          li
            a(href="#") Blog

          li
            a(href='http://marcio.io/blog') About me
          
          li
            a(href='#') Contact
            
          hr 

          li 
            a(href="#") VIP
          
        p.footnote
          br
          |     © 2015 Diego Frasele. All rights reserved.
    
    .container.story-main
      .stories-title-div
        h1.stories-title Stories

      .stories-container
        ul.stories-list
          li.story
            a(href="#").story-link
              h3.story-title Inostasia

          li.story
            a(href="/story").story-link 
              h3.story-title Revolution

          li.story
            a(href="/story").story-link 
              h3.story-title Fresh as a Non taken idiot

      .stories-title-div
        h1.stories-title Articles

      .stories-container
        ul.stories-list
          li.story
            a(href="/story").story-link
              h3.story-title Not for today

          li.story
            a(href="/story").story-link 
              h3.story-title Maybe when I find your mama
          li.story
            a(href="/story").story-link 
              h3.story-title Meteorites in June

 


