doctype html
// saved from url=(0017)http://marcio.io/
head
  link(rel='stylesheet',href='/stylesheets/poole.css')
  link(rel='stylesheet', href='./stylesheets/hyde.css')
  link(rel='stylesheet', href='./stylesheets/style.css')

  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway')

  
  block content