doctype html
// saved from url=(0017)http://marcio.io/
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')

  link(rel='stylesheet',href='/stylesheets/poole.css')
  link(rel='stylesheet', href='./stylesheets/hyde.css')
  link(rel='stylesheet', href='./stylesheets/style.css')
  link(rel='stylesheet', href='./stylesheets/bootstrap.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Raleway')

  
  block content

  script(src='https://code.jquery.com/jquery-2.1.1.min.js')
  script(src='javascripts/bootstrap.min.js')
