extends layout

block content
    include partials/sidebar

    .container.story-main
      .list-wrapper
        .list-container
            

            
            .list-stories-container
                
                .story-item
                    .list-title-div
                        h1.list-title Notes of a Traveling Madman

                        if madman 
                            h1 this
                        h3 No notes published at the moment