extends layout

block content
    include partials/sidebar

    .container.story-main
      .list-wrapper
        .list-container
            

            
            .list-stories-container
                
                .story-item
                    .list-title-div
                        h1.list-title Poetry


                        if poems 
                            h1 this
                        h2 No published poems at the moment

                    