extends layout

block content
    include partials/sidebar

    .container.story-main
      .list-wrapper
        .list-container
            .list-title-div
              h1.list-title Stories

            
            .list-stories-container
                .story-item
                    .story-item-title
                        h3.item-title Renacimiento
                        span.post-date published July 7, 2015 |      5 min read

                    .story-item-content
                        .story-item-textpreview
                            p La planicie en las afueras de la ciudad de Mu era casa de cientos de diferentes especies de escarabajos Lumia. En las noches, las casas desde el tercer aro podian disfrutar de la ilusion de vivir en una tierra de fantasia, con luces multicolores flotando de un lugar a otro. Para los residentes de los dos primeros aros, la mejor vista era las diferentes sombras de gris del concreto de la muralla interior. 



    
                        .story-item-buttons
                            a.btn.btn-default.story-button Preview
                            a.btn.btn-default.story-button Purchase

                        .story-item-tags 
                            span.post-date Tags: 
                                a(href="#") fantasy
                                , 
                                a(href="#") horror
                .story-item
                    .story-item-title
                        h3.item-title Cumbres incompetentes
                        span.post-date published July 7, 2015

                    .story-item-content
                        .story-item-textpreview
                            p Me la suda como no sabes, hasta el punto en el que no se que demonios podriamos hacer para completar con la sanidad de lo que ha ocurrido. No quiero que vuelva a suceder esto de nuevo, me entiendes?
                        .story-item-buttons
                            a.btn.btn-default.story-button  Preview
                            a.btn.btn-default.story-button  Purchase

                        .story-item-tags 
                            span.post-date Tags: 
                                a(href="#") fantasy
                                , 
                                a(href="#") horror
                .story-item
                    .story-item-title
                        h3.item-title Perro
                        span.post-date published July 7, 2015 | 15 min read

                    .story-item-content
                        .story-item-textpreview
                            p Me la suda como no sabes, hasta el punto en el que no se que demonios podriamos hacer para completar con la sanidad de lo que ha ocurrido. No quiero que vuelva a suceder esto de nuevo, me entiendes?
                        .story-item-buttons
                            a.btn.btn-default.story-button  Preview
                            a.btn.btn-default.story-button  Purchase

                        .story-item-tags 
                            span.post-date Tags: 
                                a(href="#") fantasy
                                , 
                                a(href="#") horror

