extends layout

block content
    include partials/sidebar

    .container.story-main
      .list-wrapper
        .list-container
            

            
            .list-stories-container
                
                .story-item
                    .list-title-div
                        h1.list-title Stories

                        if stories


                            each story in stories

                                a(href= "#{story.link}" target="_blank") #{story.title}    
                        
                        h2 No published stories at the moment
