body {
	background: url(../images/background1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stories-title-div {
	text-align:center;
			width:100%;

}

.stories-title {
		font-size:48px;
		color:#1790A0;

}

.stories-container {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.stories-list {
	width:100%;
	list-style: none;
	text-align: center;
	padding:0;
	margin:0;
}
.stories-list a {
  text-decoration: none;
  display: block;
  color: #000;
}

.stories-list a:hover{
	background-color:#2C8FC0;
}

.story-link {

    height: 120px;
    background-color: #D4E6EF;
    padding: 25px;
    margin-bottom: 20px;

}

.story-title{ 
	font-weight: 100;
}

.story-container {
	background-color: #F1FAF6;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.story-section{
	margin-top:90px;
}

